// Colors
$white: #ffffff;
$black: #000000;
$sec_black: #222222;
$blue: #0fb7ff;
$green: #11c00b;
$red: #e42c2c;
$orange: #f17908;
$gold: #e1b92b;
$sandal: #ffea9f;
$light-purple: #b2a5f6;
$light-green: #bfeccb;
$light-red: #f99c74;
$light-blue: #bfecff;

// Fonts
$livvic: "Livvic", sans-serif;
$cookie: "Cookie", cursive;
$playfair: "Playfair Display", serif;
